.container {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 0rem;
  background-color: #ea5455;

  img {
    height: 4rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem 0rem;

    img {
      height: 3rem;
    }
  }
}
