.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .firstBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    :first-child {
      border-top-left-radius: 25px;
    }
    :nth-child(3) {
      border-right: 0px !important;
      border-top-right-radius: 25px;
    }
  }

  .secondBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    :nth-child(3) {
      border-right: 0px !important;
    }
  }

  .thirdBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    :first-child {
      border-bottom-left-radius: 25px;
    }
    :nth-child(3) {
      border-right: 0px !important;
      border-bottom-right-radius: 25px;
    }
  }

  .thirdBlock * {
    border-bottom: 0px !important;
  }
}
