.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .firstBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    :nth-child(3) {
      border-right: 0px !important;
    }
  }

  .secondBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    :nth-child(3) {
      border-right: 0px !important;
    }
  }

  .thirdBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    :nth-child(3) {
      border-right: 0px !important;
    }
  }

  .thirdBlock * {
    border-bottom: 0px !important;
  }
}
