.container {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #2d4059;
  min-height: 100vh;

  .innerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    width: 100%;
    min-height: 100vh;
    color: #fff;

    .buttonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        height: 30rem !important;
        font-size: 30rem !important;
      }

      :first-child {
        margin-right: 2rem;
      }
    }

    .boardsWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 70vw;
      margin-top: 2rem;

      .noBoardsAlert {
        p {
          text-align: center;
          letter-spacing: 1px;
          color: rgb(155, 155, 155);
          font-size: 1.5rem;
          margin-top: 4rem;
        }
      }
    }

    .noteWrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 2.5rem;
      width: 80%;
      p {
        font-weight: bold;
      }
    }

    .alertWrapper {
      background-color: #f4b400;
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      margin-top: 1rem;
      animation: moveInFromLeft ease 0.8s;
    }

    @keyframes moveInFromLeft {
      0% {
        opacity: 0;
        transform: translateX(-20rem);
      }

      100% {
        opacity: 1;
        transform: translateX(0rem);
      }
    }
  }
}

@media (max-width: 1024px) {
  .alertWrapper {
    display: none;
  }
}
