.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;

  .waitingAlert {
    animation: blinking 2.5s ease-in infinite;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
